@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-primary: #4030e8;
    --color-background-light: #f6f6f8;
    --color-background-dark: #0a0a0f;

    --color-glass-dark: rgba(255, 255, 255, 0.03);
    --color-glass-border: rgba(255, 255, 255, 0.08);

    /* Fonts */
    --font-display: "Manrope", sans-serif;

    /* Radius */
    --radius: 0.5rem;
    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
    --radius-full: 9999px;
}
